body {background-color: silver;}

.cbutton { height: 2eM; width: 2eM; background-color: mintcream;}

.dbutton { height: 2eM; width: 2eM; background-color: aqua;}

.obutton { height: 2eM; width: 2eM; background-color: lightgoldenrodyellow;}

.clr { height: 2eM; width: 2eM; background-color: lime;}

.eql { height: 2eM; width: 4eM; background-color: pink;}

.disp { text-align: right; }
